<div class="header">
  <nav class="navbar">
    <a href="http://gulpjs.com" class="navbar-title">gulp.js</a>
    <div class="navbar-links">
      <a href="https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md" class="navbar-link">Docs</a>
      <a href="http://gulpjs.com/plugins" class="navbar-link">Plugins</a>
      <a href="https://twitter.com/gulpjs" class="navbar-link">Twitter</a>
    </div>
  </nav>
  <div class="main-header-content">
    <img class="logo" src="img/gulp-white-text.svg">
    <p class="main-header-text">Automate and enhance yohhur workflow</p>
    </div>
