.wrapper{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
}

.main-header-content{
  position:relative;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  z-index:-1;
  background-color:#D8C8B8;
}

.logo{
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.navbar .navbar-links .navbar-link {
  z-index:10;
  padding: 0 15px;
  border-right: 1px solid rgba(255,255,255,0.3);
}
.navbar a {
  z-index:10;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}


.navbar .navbar-links {
  z-index:10;
  display:block;
  position: absolute;
  left: 50%;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

/* TODO FADE IN NOT WORKING! */
.fade-in {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

